name: main

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    schedule:
        - cron: "15 7 */9 * *"
    workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-slim
        strategy:
            matrix:
                python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "3.14t", "pypy-3.11"]
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Python
              uses: actions/setup-python@v6
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Cache tox environments
              uses: actions/cache@v5
              with:
                  path: .tox
                  key: ${{ runner.os }}-${{ matrix.python-version }}-tox-${{ hashFiles('pyproject.toml') }}

            - name: Install tox
              run: pip install tox tox-gh-actions

            - name: Test
              run: tox -v
